<applicationConfiguration>
  <IsInProduction>false</IsInProduction>
  <ProjectName>Test</ProjectName>
  <Jwt>
    <SecretKey>TestSecretKey</SecretKey>
  </Jwt>
  <Services>
    <SecretKey>ServicesSecretKey</SecretKey>
  </Services>
  <ProjectId>1</ProjectId>
  <ProjectSystemName>Test</ProjectSystemName>
  <DatabaseMigratedColumns/>
  <ChangeConflictsInGetLockBy>true</ChangeConflictsInGetLockBy>
  <ConnectionString>Server=fake-server;Persist Security Info=True;initial catalog=FakeDatabase;Max Pool Size=200;Integrated Security=SSPI;</ConnectionString>
  <Queues>
    <QueueGroup name="Api" uri="amqp://fake-rabbit1/" prefix="Api.DirectCrm.Debug.Public." />
    <QueueGroup name="ApiCritical" uri="amqp://fake-rabbit1/" prefix="Api.DirectCrm.Debug.Public." />
    <QueueGroup name="Tracker" uri="amqp://fake-rabbit1/" prefix="Tracker.Debug.Public." />
    <QueueGroup name="Private" uri="amqp://fake-rabbit1/" prefix="Commons.Debug.Private." />
    <QueueGroup name="Pmon" uri="amqp://fake-rabbit1/" prefix="Pmon.Debug." />
    <QueueGroup name="TestQuorum" uri="amqp://fake-rabbit1/" prefix="Quorum.Debug." />
  </Queues>
  <Security>
    <RSAKeyValue>
      <Modulus>3b+8reujg3zdJZ8+6V3FTfc8Eqsp6skSSSFlQXXVSDE+GiQfJx/U+1b91UGAPgBtRRIKhSwmTxD77t5r9RSvhRQOJsT/aHZnyrbTlu22NDAVYpjNeclEnpCTHWf/3EAMWukLP508E5F4DkeYG4Tt0bCpwB4juZRccgmPVWfpln/obplFTQLgjanjNme9KWyzn+NRkvIcyyAI0xlmjq6Nq9ZDWGa6/Ca/8awFQeQYcwCLY8NhMmNNFAnIwQhGgpM+dw2yv8fNA2rjA8GRXfulLNVveopq2U9RiUrRBISpdVaueMo5tIvf7cVIhzGZ9eJHoMKP32bsBi4Cxsl0UEFwWzlT4buIH7uiCAvmYCZNRiQQcQvhpXN1Tjc0s5MQsnOnnvQz2PIo/6jKxlFYAS0AFNvi5U+SaQK4I0Fs6PL8PIQ4TOZF8Nu6mYjqmm2UEsOhB5gNfwrxBqYJk5jkimxbcrvHT56dw42XgRk6YyTgU7yjlHys295pCGD59pie14AX02oRaXbCj2D0VY+rYh4NwLybH92t+9ru29I/EXssxF13nNd6cuBdaWcsYi2QjK6c44kxthoHPxUIJsTbdqpvPLl9n3e8NfJ8w6uLFRL1LUWGU2H1aFZoPBs+4dcFCA1A7Avs7ueixrY5UXDon8pJUUaAMCP8xFGYNMJRSAGIR18=</Modulus>
      <Exponent>AQAB</Exponent>
      <P>+5t39rz7d0hbGoj7AVUxU0XsS00iBwikGp+KIN8qRMsIcUtCk1FR5irP1BOHFtdLyDJ91/n9/DA48RrGlACEs9NKL6fzfFncO6xFap1PQmUxlIr6PChF9fAFB5mfIjZNE/LDelg/FcWzoGlebt/SGeI/YjKO3mVphH+uzArLuaUCmF7uHbo9e7NJiFJT4fbg1q+G0QEuxNbup4jkV3+3tkQyvgKJ55hMTcp/IHDvcBH2YMh0n+aa3t263IyALOw8SoIjnw/pau7YHwTeGXTplsHYIruIJ0pbi2gNEu70q2/UMvjv0aAnfTJ3Lup5hIIeMLHNuBh+0hAtrm8SKR/Jmw==</P>
      <Q>4Z7R5AHi3X4e9eWzjfkqvWEAAN9hk9y1YeGUrzKKtn25yhgQ3DCi34YlwtjoLjFJ1GrLuFiP12F64lDlVSPGOMCVqOyMpYg5ZO3AJ1dkfa6Q7vtSPNKj4ygEgZWV/1ig6xe0Id9fS8Vb0rbKFr2f2HGscCTRolsa+jqsH6g1hvLGGOCGdjGNGBBmxvL4Qt7AfC7uiZC5orDobbiAaKtgXiiNVHMSXbIuN8pAbUKP4uQthI23tr/BUIEEdemnWZ910rjX7RUvbNPBpXzczSeUntDWYQLFAAVgEkFBD0CZ0Aj1opR+ErI9dcIzukFl26lUIVD0EGgcGMoO1hqU2zkHjQ==</Q>
      <DP>8tDMCkvBZxFmEoqlqlicPKAbdWRf9WfKb4MOG8EjGrbSU/vsqR1uq3Eflqytz0ZBdVf9CMTS72FeYpiTkduaNa0wSCOOoLBcER6k80oTZqEgIxmoewvm0H0tbXM9FxhOdHTxX43we8OLIcDuiJPqQF6PCuZ96HT4Sw2qFHJKv8NWaNQceoX0tf+FdFD3cPf/blCBDA1XJFHEidxbeXHhSr4wNh1fFylsYhqNazJycLZ1DlwF6Rb02SYlIplZTYFCgilr1SLXAgK0geMBsJGaqIo0WvieYkSpajUlgOMpLpXCtNp3HtevpGxiht10HoQwPJArV4IUSgeg/llkrllmBw==</DP>
      <DQ>0N5V0u4IFyLOCLionBOChKWK+kPSMq+NX1sVaYexsLX9zGCxIxcHgUTQKmzhrPnGLpbbmAKszyiYOXHIjSQ8OofXRPYQUqIk+BG95O3bwxpbZFJX1KTwQbfnTAuuPCDRgDKGeSEwOJYxpoW/2oObuiWqDHuZcuNCu0qb1AbF3vNbfuZEtKC0zQVKEH4YZNeQfKZ5//JyWHHMCt9WSQ/2e9Sw2fBZnVH5xX5AXKXVTKgOl3sXC2DD1wJJnds8KRUdX4Htq7cEG4yB5fEM/APba5dMD60fsSBIyz2LvFIC0vuoYuVzPV2y1hR+DLzETjGZB+rIt3OaJzzPtVgQXE6UdQ==</DQ>
      <InverseQ>oSquPnWM/QziXxWVMYpYxYnWOjZ4pCIhfNPjhuxBiTUZmVSUl42EbxCK/JbggCZ7RR21bdNnWrPHVLYtMe/+0He6zjcOGqfxDYv4rttQRPj7S2IChkxXMyBdV+wypWqshGc96RJLylh+zYK2BXIxg9bFh5upWcaVyWgMC/h01THuqkOWUifVsFBQsePt6yOCSqwy+zDDIDV/smh7cXOZOv7UUSfWQgADCU5P6g0DhVt+P+0C2vboJIOrOxhj4x08AFVeVtbUHNZlm9k+9sqGX1yRRQJhkzIy47GDjwt5FzRZliZkUpd4CtSOrpFV2TxKktB2wDm/ZQtAjqhTwSvodg==</InverseQ>
      <D>131HVuAhs1p48eGR2mhkn4J930p0XpPtcCHC610d2Zz406B8oaGecG02GLIhdJ8nkLKahJXF2JoRqSx+Ttk+RB2cLvLLnPFLpcQLVKVGpeqALaN+MjZzt3+ZZz80dg3Ls+C6LKSYyA9aUs4iM8P29Aowu+DOKL7TI4LExmNHrRg5gJjzroX4P9JzWeBwA7x9xge6swkTEBXeXX5WmptoUy/RnCug0/64EptvNHv7gm5qBpXMc5HqSmnDrEplcuiyEDHAnfwE76hEWdcWc/Viq3Hydmvir7ET9E4/VpuwrbWBsSIb96biAobwF2kNS9QMdV39QEUdYlf+HL2SiZc+HaiRunUYPrU88PoJdAvfRwt8RCOkWvK/2jxA3XStJRZ/YRE8mjHAMKVG5f7zIAQDEKYk99hfrplgSXLmQzG4py8M+2kOIRSJIo51GGNguY2TECmFxI/xUkWbB+aB+hPJMcjT3zpdlwv6P8sBvCwea5sV1DtK/KqkYx1PYPIm8LoerMy0Q7zYpsEb38r4KaxZbLVtQWpNs103JHSgM+Y7FviYVLglHoPuXzPdDo053IxPO/Z5FqRGF9jEyiFx7/lZWs7FN9RusjrR5Hx/KyDjQaRHydSkSod20Q65d6OIvC3+Bbk/D/lveMGwigBoXbgBtTN0XPUMcJNGUuF+iKTiJYk=</D>
    </RSAKeyValue>
  </Security>
</applicationConfiguration>