<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <packageSources>
    <add key="myget/mindbox-private" value="https://www.myget.org/F/mindbox-private/auth/f8b6323c-32ad-451c-b928-160073cbb947/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
